<div class="container pt-3 pb-5">
<div class="d-flex justify-content-center">
  <div>
    <h1>Welcome to 
    <i class="fas fa-book"></i> 
    <strong> Bookers </strong> ! </h1>
  </div>
</div>
</div>

