<%= flash[:notice] %>
<div class="container pt-3 pb-5">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h1>welcome to <i class="fas fa-book"></i> <strong> Bookers </strong> !! </h1>
      <p>In <i class="fas fa-book"></i> <strong> Bookers </strong> , </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      
      <div class="d-flex flex-column">
        <button class = "btn btn-info mb-3 ">
          <%= link_to  new_user_session_path do %>
            <a class = "text-white">Log in</a>
          <% end %>
        </button>
        <button class = "btn btn-success text-white">
          <%= link_to  new_user_registration_path do %>
            <a class = "text-white">Sign Up</a>
          <% end %>
        </button>
      </div>
    </div>
  </div>
</div>
